*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif;
}

header {
  background-color: rgba(156, 126, 110, 1);
  padding: 25px 0;
}

header .container > *,
header li {
  display: inline-block;
}

.container {
  border: 2px solid blue;
  max-width: 1112px;
  margin: 0 auto;
}

header .logo {
  margin-right: 30px;
}
header nav {
  vertical-align: 25px;
}

header nav li {
  margin-right: 34px;
}
header nav li:last-child {
  margin-right: 0;
}

header nav a {
  text-decoration: none;
  color: #fff;
}

header .actions {
  margin-left: 320px;
  vertical-align: 18px;
}

header .actions button {
  border: none;
  background-color: transparent;
  margin-right: 43px;
}

header .actions span {
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  width: 22px;
  height: 22px;
  font-weight: bold;
  color: rgba(156, 126, 110, 1);
  text-align: center;
  vertical-align: 30px;
  margin-left: -10px;
}

.hero {
  background-image: url(img/Group_3123464.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0;
}

.hero-left,
.hero-right {
  /* border: 1px solid yellow; */
  display: inline-block;
}

.hero-left {
  width: 580px;
  vertical-align: 95px;
  position: relative;
  z-index: 1;
}
.hero-left h1 {
  color: #fff;
  font-size: 50px;
}

.hero-left p {
  color: rgba(102, 69, 53, 1);
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 28px 0 59px 0;
}

.hero-left a {
  background-color: black;
  color: #fff;
  display: inline-block;
  padding: 17px 33px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 22px;
}
.hero-left a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.633);
}

.hero-right img:first-child {
  width: 550px;
}
.hero-right {
  position: relative;
  left: -70px;
}
.hero-right img:first-child {
  width: 520px;
}
.hero-right img:last-child {
  width: 230px;
  position: absolute;
  right: 0px;
  bottom: -20px;
}

.tutorial {
  padding: 82px 0;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 40px;
}
.title h2 span {
  color: rgba(117, 181, 200, 1);
}
.title p {
  width: 650px;
  display: inline-block;
  margin: 11px 0 37px;
}

.tutorial .card-left {
  position: relative;
  display: inline-block;
}

.tutorial .card-left img:last-child {
  position: absolute;
  bottom: -50px;
  right: -75px;
}

.tutorial .card-right {
  display: inline-block;
  vertical-align: 150px;
  font-size: 40px;
  width: 435px;
  margin-left: 180px;
  color: rgba(102, 69, 53, 1);
}

.card-left::before {
  content: "Easy to control!";
  position: absolute;
  top: 50px;
  right: -100px;
  width: 140px;
  font-size: 19.81px;
  /* height: 30px; */
  padding: 24px 20px;
  border-radius: 7.59px 7.59px 7.59px 0;
  background-color: rgba(240, 240, 238, 1);
  line-height: 27.02px;
}

.card2 {
  margin-top: 77px;
}
.card2 .card-right {
  margin-left: 0;
}
.card2 .card-left {
  margin-left: 180px;
}

.offer .wrapper {
  background-color: rgba(19, 176, 177, 1);
  border-radius: 20px;
  color: #fff;
  padding: 45px 103px;
}
.offer-left {
  width: 484px;
  display: inline-block;
}
.offer-left h3 {
  font-size: 30px;
  margin-bottom: 18px;
}
.offer a {
  background-color: rgba(255, 133, 67, 1);
  display: inline-block;
  padding: 17px 124px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
  margin-left: 80px;
  vertical-align: 30px;
}

.fairytales .wrap {
  /* background-color: blue; */
  padding: 20px;
  overflow-y: scroll;
}
.fairytales {
  margin-bottom: 300px;
}
.fairytales .wrapper {
  width: 140%;
  /* background-color: red; */
  position: relative;
  left: -50px;
}
.fairytales-card {
  display: inline-block;
  margin-right: 15px;
  border-radius: 10px;
  width: 250px;
  height: 290px;
}

.fairytales-card:nth-child(1) {
  background-color: aqua;
}
.fairytales-card:nth-child(2) {
  background-color: violet;
}
.fairytales-card:nth-child(3) {
  background-color: brown;
}
.fairytales-card:nth-child(4) {
  background-color: yellow;
}
.fairytales-card:nth-child(5) {
  background-color: seagreen;
}
.description {
  margin-bottom: 100px;
}
.description h3 {
  display: inline-block;
  font-size: 40px;
  width: 400px;
}
.description .color {
  color: rgba(117, 181, 200, 1);
  position: relative;
}

.description .border {
  background-color: black;
  display: block;
  height: 20px;
  width: 260px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
